*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 65,2%;
}
body {
    background-color: #fafafa;
}
main {
    display: flex;
    width: 350px;
    margin: 0 auto;
    height: 80vh;
    background-color: #530606;
    flex-direction: column;
}
.container-img {
    width: 100%;
    background-color: white;
    margin: 20px auto;
    text-align: center;
    height: 70px;
}
.container-img img {
    width: 200px;
    
}
.container-components-login{
    width: 100%;
    background-color: aqua;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-components-login div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-components-login div span{
    background-image: url("https://play-lh.googleusercontent.com/5pZMqQYClc5McEjaISPkvhF8pDmlbLqraTMwk1eeqTlnUSjVxPCq-MItIrJPJGe7xW4=w240-h480-rw");    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
}